html {
    background-color: rgba(122, 191, 191, .5);
}
body {
    margin:0 auto;
    background-color:white;
    width: 414px;
    display:grid;
    grid-template-areas:
        "header"
        "nav"
        "main"
        "aside"
        "footer";
    font-family: 'Bebas Neue', cursive;
    font-family: 'Montserrat', sans-serif;
    line-height: 24px;
    height: auto;
}
img {
    max-width: 100%;
}

/* Typography */ 
h1, h2, h3, nav a, nav span, menu li, #social li, footer {
    font-family: 'Bebas Neue', cursive;
}
p, dd, li, nav, input {
    font-family: 'Montserrat', sans-serif;
}
dt {
   /* montserrat - bold */
   font-family: 'Montserrat', sans-serif;
   font-weight: bold;
}
h1, h2 {
    text-align: center;
}
p {
    padding-left: 5px;
    padding-right: 5px;
    line-height: 30px;
}

#home {
    background-color: #Eb5428;
    width: 190px;
    height: 60px;
}

main, header {
    background-color: #f2f2f2;
}

/*nav code*/
nav ul {
    overflow: hidden;
    max-height: 0;
    transition: max-height .2s ease-out;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    
}
a { 
    text-decoration: none;
    color: white;
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    background-color: white;
    
}
nav li {
    text-align: center;
    background-color:#Eb5428;
    padding: 15px;
}
nav div{
    max-height: 60px;
    text-align: center;
}

nav input {
    display: none;
}

input:checked ~ ul {
    max-height: 1000px;
}

label[for="dropdown"] {
    padding: 0px 0px;
}

#site-search{ 
    height: 45px;
    width: 250px;
    border-color:#Eb5428;
    border-style: solid;
}
#searchButton{
    position: relative;
    right:4px;
    top:14px;
    background-color: #Eb5428;
    border-color: #Eb5428;
    border-style: none;
}

#Search{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
#menu {
    position: relative;
    top:10px; 
}
#avatar {
    position: relative;
    top:10px;
}
/* End of Nav*/

#menu {
    grid-row: 1/2;
}
menu{
    padding-left: 0px;
    text-align: center;
}
menu div {
    display: inline-block; 
    margin-left: 5px;
    margin-right: 5px;
}
menu li {
    list-style-type: none;
}

menu figure{
    color:#Eb5428;
    width: 80px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 5px;
}

menu figure:hover {
    text-decoration: underline;
}

menu figcaption {
    position: relative;
    top: 60px;
}


header {
    grid-row-start: 1;
    grid-row-end: 2;
}

aside {
    background-color: #7abfbf;
}
aside img {
    max-width: 25%;
    height: auto;
}
aside div{
    margin: 10px;
    padding: 10px;
    width: auto;
    display: grid;
    grid-template-columns: none;
    grid-template-rows: repeat(4, 1fr);
}

#details p {
    line-height: 10px;
}
footer {
    text-align: center;
    height: 530px;
}
footer ul {
    padding: 0px;
}
footer li {
    display: inline-block;
    list-style-type: none;
}

footer figure{
    color:#Eb5428;
    width: 80px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

footer figure:hover {
    text-decoration: underline;
}

footer figcaption {
    position: relative;
    top: 60px;
}

footer img {
    width: 70%;

}
#copyright p {
    position: relative;
    top: 370px;
    
}

#copyright b {
}
.hide{
    display: none;
}

@media screen and (min-width: 768px){
    body {
        width: 768px;
    }
    nav {
        display: grid;
        grid-template-rows: 90px 120px;
    }
    #menu {
        grid-row: 2/3;
        grid-column: 1/4;
        height: 120px;
    }
    #home {
        grid-row:1/2;
        grid-column: 1/2;
    }
    #avatar {
        grid-column:3/4;
    }
    menu {
        width: 768px;
        background-color: rgba(255, 255, 255, .7);
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        position: absolute;
        top: 260px;
    }
    figure {
        padding-left: 45px;
        padding-right: 45px;
    }
    figure svg {
        position: relative;
        bottom: 15px;
    }
    menu figcaption {
        position: relative;
        top: 45px;
    }
    nav label {
        display: none;
    }
    nav a {
        color: #Eb5428;
        position: relative;
        top: 80px;
    }
   
    nav ul {
        overflow: visible;
        display: grid;
        list-style-type: none;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    nav div {
        max-height: 120px;
        text-align: center;
        padding-left: 30px;
    }
    nav li {
        padding: 0px;
        width: 60%;
        height: auto;
        background-color: white;
    }
    nav li img {
        position:relative;
        bottom: 15px;
    }
    #avatar svg {
        position:relative;
        left: 80px;
        
    }
    #Search {
        position:absolute;
        left: 400px;
        top: 0px;
        bottom: 25px;
        margin-top: 0px;
    }
    #home {
        height: 90px;
        width:80px;
        padding-left: 0px;
    }
    h1 {
        text-align: left;
        padding-left: 20px;
    }

    #fooddets {
        display:grid;
        grid-template-rows: auto, auto;
        grid-template-columns: 1/3fr 2/3fr;
       
    }

    .sideDishes {
        padding: 0px;
    }

    #details {
        grid-column: 1/3;
        grid-row: 1/2;
        text-align: center;
    }

    aside div {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        
    }
    #copyright img {
        width: 300px;
    }

    footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0fr 1fr;
    }

    #wrapper {
        grid-template-columns: 1fr 1fr;
    }

    #social {
        grid-column: 2/3;
        grid-row: 2/3;
    }
    #copyright {
        grid-column: 1/2;
        grid-row: 2/3;
    }


}

@media screen and (min-width: 1280px) {
    body {
        width: 1280px;
    }

    #Search {
        position:relative;
        left:0px;
    }

    nav {
        grid-template-columns: 10% 80% 10%;
        grid-template-rows: 1fr;
        width: 1280px;
    }
    #home {
        background-color: #Eb5428;
        width: 100px;
        height: 120px
    }

    #home svg {
        width: 50%;
    }
    #menu {
        grid-row: 1/2;
        grid-column: 2/3;
        height: 120px;
        padding-left:80px;
    }

    #menu img {
        width: 80%;
    }
    #avatar svg {
        padding-left: 0px;
        left: 0px;
        top: 20px;
    }
    #Search {
        margin-top: 30px;
        margin-bottom:5px;
    }

    h1 {
        text-align: center;
        padding: 0px;
    }

    main {
        display:grid;
        grid-template-columns: 10% 40% 50%;
        grid-template-rows: auto 768px auto auto auto;
    }
    #mainImg {
        width: auto;
       
    }

    #streetTacos {
        grid-row: 1/2;
        grid-column: 1/4;
    }
    #menuContainer {
        background-color: white;
        border-style: solid;
        border-width: 3px;
        border-color: #Eb5428;
    }
    menu{
        width: 0px;
        height: auto;
        text-align: center;
        -webkit-backdrop-filter: blur(0px);
        backdrop-filter: blur(0px);
    }
    menu li {
        padding-top: 20px;
    }

    menu figure {
        padding-left: 15px;
        padding-right: 0px;
    }
    #fooddets {
        grid-column: 1/4;
    }
    #details {
        background-color: black;
        color: #7abfbf;

    }
    #details p {
        display: inline-block;
    }

    aside div {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }
    #directions {
        padding-left: 20px;
        padding-right: 20px;
    }

    aside img {
        max-width: 700px;
        height: auto;
    }
    aside {
        padding-left: 70px;
    }
    aside h3 {
        position: relative;
        top: 290px;
        padding-left: 6px;
    }
    aside p {
        position:relative;
        top: 20px;
    }

    aside section {
        position: relative;
        bottom: 30px;
    }

    footer {
        height: 300px;
    }

    #social {
        position: relative;
        top:40px;
    }
    #copyright img {
        width: 40%;
        position: relative;
        bottom: 80px;
        right: 160px;
    }
    
    #copyright p {
        position: relative;
        top: 25px;
        left: 50px;
    }


}

