html {
    background-color: rgba(122, 191, 191, .5);
}
body {
    margin:0 auto;
    background-color:white;
    width: 414px;
    display:grid;
    grid-template-areas:
        "header"
        "nav"
        "main"
        "aside"
        "footer";
    font-family: 'Bebas Neue', cursive;
    font-family: 'Montserrat', sans-serif;
    line-height: 24px;
}
img {
    max-width: 100%;
}

/* Typography */ 
h1, h2, h3, nav a, nav span, menu li, #social li, footer {
    font-family: 'Bebas Neue', cursive;
}
p, dd, li, nav, input {
    font-family: 'Montserrat', sans-serif;
}
dt {
   /* montserrat - bold */
   font-family: 'Montserrat', sans-serif;
   font-weight: bold;
}
h1, h2 {
    text-align: center;
}
p {
    padding-left: 5px;
    padding-right: 5px;
}

#home {
    background-color: #Eb5428;
    width: 190px;
    height: 60px;
}

/*nav code*/
nav ul {
    overflow: hidden;
    max-height: 0;
    transition: max-height .2s ease-out;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    
}
a { 
    text-decoration: none;
    color: white;
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    
}
nav li {
    text-align: center;
    background-color:#Eb5428;
    padding: 15px;
}
nav div{
    max-height: 60px;
    text-align: center;
}

nav input {
    display: none;
}

input:checked ~ ul {
    max-height: 1000px;
}

label[for="dropdown"] {
    padding: 0px 0px;
}

#site-search{ 
    height: 45px;
    width: 250px;
    border-color:#Eb5428;
    border-style: solid;
}
#searchButton{
    position: relative;
    right:4px;
    top:14px;
    background-color: #Eb5428;
    border-color: #Eb5428;
    border-style: none;
}

#Search{
    padding-top: 25px;
    padding-bottom: 15px;
    padding-left: 55px;
}
#menu {
    position: relative;
    top:10px; 
}
#avatar {
    position: relative;
    top:10px;
}
/* End of Nav*/

#menu {
    grid-row: 1/2;
}
menu{
    padding-left: 0px;
    text-align: center;
}
menu div {
    display: inline-block; 
    margin-left: 5px;
    margin-right: 5px;
}
menu li {
    list-style-type: none;
}

menu figure{
    color:#Eb5428;
    width: 80px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 5px;
}

menu figure:hover {
    text-decoration: underline;
}

menu figcaption {
    position: relative;
    top: 60px;
}


header {
    grid-row-start: 1;
    grid-row-end: 2;
}

aside {
    background-color: #7abfbf;
}
aside img {
    max-width: 25%;
    height: auto;
}
aside div{
    margin: 10px;
    padding: 10px;
    width: auto;
    display: grid;
    grid-template-columns: none;
    grid-template-rows: repeat(4, 1fr);
}
footer {
    text-align: center;
    height: 530px;
}
footer ul {
    padding: 0px;
}
footer li {
    display: inline-block;
    list-style-type: none;
}

footer figure{
    color:#Eb5428;
    width: 80px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

footer figure:hover {
    text-decoration: underline;
}

footer figcaption {
    position: relative;
    top: 60px;
}

footer img {
    width: 70%;

}
#copyright p {
    position: relative;
    top: 370px;
}
.hide{
    display: none;
}




